/* Figure out 5 or more DIFFERENT ways to fill in the blank 
   to produce the desired output */

_________ {
    font-family: Helvetica;
    font-size: 300%;
    color: #ffd63e;
    text-align: center;
}

/* Record your solutions here:
   #1 - #pika
   #2 - div
   #3 - h1
   #4 - body
   #5 - img

   e.g. - .pika               */